.bash*
.kshrc
.lesshst
.vim*
.gitconfig
.ssh
/local/
/qualifier_bench/
/tmp/
/logs
/webapp/nodejs
/webapp/php
/webapp/python
/webapp/perl
/webapp/ruby

/.cache
/.vim/
.zcompdump
.zprofile
.zsh_history
.zshrc
*.swp
.DS_Store
suiyujin/*.dump
.mysql_history
